body {
   font-size: 14px;
   display:block;
   width: 70%;
   height: auto;
   margin: 25px auto;
}
h1 {
   font-size: 32px;
}

.header-block {
   display: block;
   width: auto;
   height: auto;
   background-color: #333333;
   padding: 15px 0;
   text-align: center;
   margin: 0 auto;
}
.header-block h1 {
   color: #CCCCDD;
}
